.app-page {
    margin: auto;
    width: 640px;
    background-color: MediumSeaGreen;
}

.table-btn {
    width:109%;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 